# dependencies, environment variables, vscode

/node_modules
/.env
/.vscode

# spright

/tools/spright

# compiled files

/socket_server/dist/
/web/web-server
/web/dist/

# my random files

/web/untitled.png
/pyro.txt
/rsync-server.sh