<br><br>
<footer style="left: 0; bottom: 0; width: 100%; background-color: gray; color: white; text-align: center; font-size: 16px;">
   <span>You are on <a href="//pyro.ezluci.com">pyro.ezluci.com</a>.</span> <br>
   <span>My main website: <a href="//ezluci.com">ezluci.com</a>.</span> <br> <br>
   <span>PyromastersMP <%= version %>.</span> <br>
   <span>It was made by <a target="_blank" href="//github.com/ezluci">ezluci</a> and <a target="_blank" href="//github.com/stefmic22">stefmic22</a>.</span> <br>
   <span>You can check its code <a target="_blank" href="//github.com/ezluci/pyromasters-mp">here</a>.</span>
</footer>