<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>pyromasters-mp - index</title>

    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script type="module">
        import MobileDetect from 'mobile-detect';
        const md = new MobileDetect(window.navigator.userAgent);
        document.querySelector('#platform-select').value = md.mobile() ? 'mobile' : 'pc';
    </script>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/topbar.css">

<!-- {{ if eq .AppEnv "development" }} -->
    <script type="module" src="/src/index/index.ts"></script>
<!-- {{ else }} -->
    <!-- <script type="module" src="//fillhere"></script> -->
<!-- {{ end }} -->
</head>

<body>
    {{ template "topbar.html" . }}

    <img src="/images/title.png">
    
    <h1 style="font-family: initial;">JOIN A GAME</h1>
    
    <input style="height: 30px;" id="room" name="room" autocomplete="off" placeholder="Room">
    <br>

    <label for="platform-select">Select your platform:</label>

    <select id="platform-select">
        <option value="pc">PC</option>
        <option value="mobile">Mobile</option>
    </select>

    <br>
    {{ if not .IsLoggedIn }} <p><b>You are not logged in! you can only spectate.</b></p> {{ end }}
    
    <button id="join-button">{{ if .IsLoggedIn }} PLAY {{ else }} SPECTATE {{ end }}</button>

    <div id="errors"></div>
    
    {{ template "footer.html" . }}
</body>
</html>