<!DOCTYPE html>
<html lang="en-us">

<head>
   <title>pyromasters-mp - index</title>

   <meta charset="UTF-8">
   <link rel="icon" href="/favicon.ico">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   <link rel="stylesheet" href="/css/index.css">
   <script type="module">
      import MobileDetect from 'mobile-detect';
      const md = new MobileDetect(window.navigator.userAgent);
      document.querySelector('#platform-select').value = md.mobile() ? 'mobile' : 'pc';
   </script>
   <script type="module" src="src/index/index.ts"></script>
</head>

<body>
    {{ template "topbar.html" . }}

    <img src="/images/title.png">
    
    <h1 style="font-family: initial;">JOIN A GAME</h1>
    
    <input style="height: 30px;" id="username" name="username" autocomplete="off" placeholder="Username">
    <br>
    <input style="height: 30px;" id="room" name="room" autocomplete="off" placeholder="Room">
    <br>

    <label for="platform-select">Select your platform:</label>

    <select id="platform-select">
        <option value="pc">PC</option>
        <option value="mobile">Mobile</option>
    </select>

    <br><br>

    <script>
        function getUsername() {
            return document.querySelector('#username').value;
        }
        function getRoom() {
            return document.querySelector('#room').value;
        }

        const params = new URLSearchParams(window.location.search);
    </script>
    
    <button id="play-button" onclick="
        username = getUsername();
        room = getRoom();
        const el = document.createElement('div');
        if (!username || !room) {
            el.innerText = 'please put something ...';
        } else if (username.length > 15 || room.length > 15) {
            el.innerText = 'max 15 characters :(';
        } else if (! /^[ -~]{1,15}$/.test(username) || ! /^[ -~]{1,15}$/.test(room)) {
            el.innerText = 'please use printable ascii characters 🦆🦆';
        } else {
            document.location.href = `game${document.querySelector('#platform-select').value==='mobile' ? 'mobile' : 'pc'}?username=${encodeURIComponent(username)}&room=${encodeURIComponent(room)}`;
        }
        document.querySelector('#errors').appendChild(el);
    ">PLAY</button>

    <div id="errors"></div>
    
    {{ template "footer.html" . }}
</body>
</html>