<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>profile: {{ .Username }}</title>

    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="module" src="/src/profile.ts"></script>
    
    <!-- CSS -->
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/topbar.css">
</head>
<body>
    {{ template "topbar.html" . }}

    <div id="main">
        <div id="profile-main">
            <div class="profile-header">Profile: {{ .Username }}</div>
            <div class="profile-info">Bio: {{ .Bio }}</div>
            <div class="profile-info">Last played: {{ .LastPlayed }}</div>
            <div class="profile-info">Account created: {{ .CreatedAt }} </div>
            <div class="profile-info">Friends: ---</div>
            <div class="profile-info">Games played: {{ .GamesPlayed }}</div>
            <div class="profile-info">Wins: {{ .Wins }}</div>
            <div class="profile-info">Kills: {{ .Kills }}</div>
            <div class="profile-info">Favorite color: ---</div>
            <div class="profile-info">Bombs placed: {{ .BombsPlaced }}</div>
        </div>
    </div>
    
    {{ template "footer.html" . }}
</body>

</html>