.android-button {
   height: 200px;
   width: 200px;
   touch-action: manipulation;
   user-select: none;
}

.color-button {
   border: solid;
   border-color: rgb(125, 205, 207) ;
   border-width: 3px; 
   margin: 5px;
   width: 150px;
   border-radius: 10px;
   padding: 7px 12px;
   transition-duration:  0.5s;
   background-color: #393E46;
   color: #00ADB5;
}

#white:hover {
   background-color: white;
   color: rgb(29, 28, 28);
}

#black:hover {
   background-color: black;
   color: aliceblue;
}
 
#orange:hover{
   background-color: orange;
   color:black;
}
#green:hover{
   background-color: rgb(6, 161, 6);
   color: aliceblue;
}
#spectator:hover{
   background-color: grey;
   color: black;
}

#chat {
   float: left;
   min-width: 400px;
   min-height: 80px;
   background-color: black;
}

body {
   background-color: #222831;
   color: #00ADB5;
   font-size: 20px;
   text-align: center;
}